@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --Pale_Violet: hsl(276, 100%, 81%);
  --Moderate_Violet: hsl(276, 55%, 52%);
  --Desaturated_Dark_Violet: hsl(271, 15%, 43%);
  --Grayish_Blue: hsl(206, 6%, 79%);
  --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
  --Dark_Grayish_Violet: hsl(270, 7%, 64%);
  --Light_Magenta: hsl(293, 100%, 63%);
  --Light_Violet: hsl(264, 100%, 61%);
  --White: hsl(0, 0%, 100%);
  --Light_Grayish_Violet: hsl(270, 20%, 96%);
  --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
  --Very_Light_Magenta: hsl(289, 100%, 72%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--Light_Grayish_Violet);
  padding: 7rem 2rem 3rem 2rem;
}
.container .decoration-top {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(220deg, var(--Light_Magenta), var(--Light_Violet));
  width: 19.4rem;
  height: 54.5rem;
  border-bottom-right-radius: 26rem;
  z-index: 0;
}
.container .container-phone {
  position: relative;
  overflow: hidden;
  width: 28.5rem;
  height: 59rem;
  padding: 1.2rem;
  background: var(--White);
  box-shadow: 0rem 2rem 10rem rgba(0, 0, 0, 0.2);
  border-radius: 3.05rem;
  z-index: 1;
}
.container .container-phone .display-barra {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 14.3rem;
  height: 2.4rem;
  background: var(--White);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 6;
}
.container .container-phone .display-phone {
  overflow: hidden;
  position: relative;
  border-radius: 1.8rem;
  width: 100%;
  height: 100%;
}
.container .container-phone .display-phone .header-phone {
  position: relative;
  display: flex;
  padding: 1.8rem 1.3rem 0 1.3rem;
  width: 100%;
  height: 8rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-image: linear-gradient(-70deg, var(--Light_Magenta), var(--Light_Violet));
  z-index: 5;
}
.container .container-phone .display-phone .header-phone .header-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.container .container-phone .display-phone .header-phone .header-content .chevron-button {
  margin-right: 0.5rem;
}
.container .container-phone .display-phone .header-phone .header-content .chevron-button ion-icon {
  font-size: 1.7rem;
  color: var(--White);
  opacity: 0.6;
}
.container .container-phone .display-phone .header-phone .header-content .avatar {
  overflow: hidden;
  margin-right: 1rem;
  position: relative;
  width: 2.7rem;
  height: 2.7rem;
  border: 0.2rem solid var(--Pale_Violet);
  border-radius: 50%;
}
.container .container-phone .display-phone .header-phone .header-content .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .container-phone .display-phone .header-phone .header-content .content-name {
  display: flex;
  row-gap: 0.1rem;
  flex-direction: column;
  flex: 1;
}
.container .container-phone .display-phone .header-phone .header-content .content-name h1 {
  letter-spacing: 0.01rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--White);
  opacity: 0.8;
}
.container .container-phone .display-phone .header-phone .header-content .content-name span {
  font-size: 0.93rem;
  font-weight: 400;
  color: var(--Pale_Violet);
}
.container .container-phone .display-phone .header-phone .header-content .ellipsis-button {
  font-size: 1.3rem;
  color: var(--White);
  opacity: 0.8;
}
.container .container-phone .display-phone .body-phone {
  display: flex;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  transform: translateY(-1rem);
  background: var(--Light_Grayish_Violet);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 100%;
}
.container .container-phone .display-phone .body-phone .chat-bubble-a {
  display: flex;
  align-items: center;
  background-color: hsla(276, 55%, 52%, 0.091);
  max-width: 22rem;
  width: 70%;
  height: 4.2rem;
  margin-bottom: 0.9rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.4rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 1.5rem;
}
.container .container-phone .display-phone .body-phone .chat-bubble-a p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3rem;
  color: var(--Moderate_Violet);
  opacity: 0.8;
}
.container .container-phone .display-phone .body-phone .chat-bubble-a:nth-child(6) {
  height: 5.6rem;
}
.container .container-phone .display-phone .body-phone .box-imgs {
  align-self: flex-end;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.container .container-phone .display-phone .body-phone .box-imgs img {
  width: 4.5rem;
  border-radius: 1rem;
}
.container .container-phone .display-phone .body-phone .chat-bubble-b {
  align-self: flex-end;
  position: relative;
  max-width: 20rem;
  width: 61%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 0.6rem 0 1rem;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.3rem;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 0.8rem;
  margin-bottom: 1rem;
  background: var(--White);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.container .container-phone .display-phone .body-phone .chat-bubble-b p {
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: var(--Desaturated_Dark_Violet);
}
.container .container-phone .display-phone .body-phone .chat-bubble-b:nth-child(5) {
  max-width: 9.5rem;
  width: 39%;
  height: 3rem;
}
.container .container-phone .display-phone .body-phone .content-opcion .option-bubble {
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
  width: 82%;
  height: 3.9rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 0.6rem;
  background-image: linear-gradient(90deg, var(--Light_Magenta), var(--Light_Violet));
  margin-bottom: 1rem;
}
.container .container-phone .display-phone .body-phone .content-opcion .option-bubble .circle {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.2rem solid var(--Very_Light_Magenta);
  margin-right: 1rem;
}
.container .container-phone .display-phone .body-phone .content-opcion .option-bubble .description {
  flex: 1;
  font-size: 1rem;
  color: hsl(289, 83%, 80%);
  font-weight: 500;
}
.container .container-phone .display-phone .body-phone .content-opcion .option-bubble .price {
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--White);
  opacity: 0.9;
}
.container .container-phone .display-phone .body-phone .content-opcion .option-bubble:nth-child(2) {
  margin-bottom: 1.5rem;
}
.container .container-phone .display-phone .body-phone .input-text {
  display: flex;
  align-items: center;
  background-color: var(--White);
  width: 100%;
  height: 3.6rem;
  border-radius: 17px;
  color: var(--Grayish_Blue);
}
.container .container-phone .display-phone .body-phone .input-text span {
  flex: 1;
  font-size: 1.1rem;
  padding: 0 9.5rem 0 2rem;
}
.container .container-phone .display-phone .body-phone .input-text button {
  background: var(--Very_Dark_Desaturated_Violet);
  border-radius: 50%;
  border: none;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6rem;
}
.container .container-phone .display-phone .body-phone .input-text button ion-icon {
  font-size: 1.35rem;
  color: var(--White);
}
.container .box-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .box-texts h1 {
  text-align: center;
  margin-top: 6rem;
  color: var(--Very_Dark_Desaturated_Violet);
  font-size: 3.6rem;
  font-weight: 500;
}
.container .box-texts p {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  max-width: 480px;
  padding: 0 3.5rem;
  line-height: 2.3rem;
  font-size: 1.3rem;
  color: var(--Dark_Grayish_Violet);
  text-align: center;
}

@media (min-width: 426px) {
  html {
    font-size: 69%;
  }
  .container .container-phone {
    max-width: 40rem;
    width: 72%;
  }
  .container .box-texts h1 {
    font-size: 4.4rem;
  }
  .container .box-texts p {
    padding-right: 4rem;
    letter-spacing: 0.01rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 825px) {
  html {
    font-size: 62.5%;
  }
  .container {
    border: 4px solid;
    padding-top: 3rem;
    flex-direction: row;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .container .decoration-top {
    transform: translateX(-24%);
    height: 74rem;
    width: 43rem;
    border-bottom-left-radius: 260px;
  }
  .container .decoration-bottom {
    position: absolute;
    bottom: 0;
    right: -16rem;
    background: hsla(276, 100%, 81%, 0.103);
    width: 50rem;
    height: 65rem;
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    z-index: 0;
  }
  .container .container-phone {
    width: 30rem;
  }
  .container .box-texts {
    z-index: 1;
  }
  .container .box-texts h1 {
    margin-top: 0;
    font-size: 5rem;
  }
  .container .box-texts p {
    margin-top: 2rem;
    line-height: 2.7rem;
    word-spacing: 0.2rem;
  }
  .container .box-texts h1, .container .box-texts p {
    text-align: left;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    -moz-column-gap: 12rem;
         column-gap: 12rem;
  }
  .container .decoration-top {
    width: 46rem;
  }
}/*# sourceMappingURL=style.css.map */